[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "==2.4.0"
aiohttp = "==3.10.5"
aiohttp-retry = "==2.8.3"
aiosignal = "==1.3.1"
alembic = "==1.13.2"
annotated-types = "==0.7.0"
anyio = "==4.4.0"
asyncpg = "==0.29.0"
attrs = "==24.2.0"
bcrypt = "==3.2.0"
certifi = "==2024.8.30"
cffi = "==1.17.1"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
colorama = "==0.4.6"
dnspython = "==2.6.1"
email-validator = "*"
frozenlist = "==1.4.1"
greenlet = "==3.1.0"
h11 = "==0.14.0"
httpcore = "==1.0.5"
httptools = "==0.6.1"
httpx = "==0.27.2"
idna = "==3.8"
jinja2 = "==3.1.4"
mako = "==1.3.5"
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.5"
mdurl = "==0.1.2"
multidict = "==6.1.0"
psycopg2-binary = "==2.9.9"
pycparser = "==2.22"
pydantic-core = "==2.23.3"
pydantic-settings = "==2.5.2"
pygments = "==2.18.0"
pyjwt = "==2.9.0"
python-dotenv = "==1.0.1"
python-http-client = "==3.3.7"
python-multipart = "==0.0.9"
pyyaml = "==6.0.2"
requests = "==2.32.3"
rich = "==13.8.1"
sendgrid = "==6.11.0"
shellingham = "==1.5.4"
six = "==1.16.0"
sniffio = "==1.3.1"
starkbank-ecdsa = "==2.2.0"
starlette = "==0.38.5"
twilio = "==9.3.0"
typer = "==0.12.5"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.3"
watchfiles = "==0.24.0"
websockets = "==13.0.1"
yarl = "==1.11.1"
fastapi = {extras = ["standard"] }
fastapi-cli = {extras = ["standard"] }
passlib = {extras = ["bcrypt"] }
pydantic = {extras = ["email", "dotenv"] }
sqlalchemy = {extras = ["asyncio"] }
uvicorn = {extras = ["standard"] }
aiosmtplib = "*"
pywebpush = "*"
python-dateutil = "*"
joblib = "*"
pandas = "*"
scikit-learn = "*"
opencv-python = "*"
aiosqlite = "*"
pyserial = "*"
cvlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
